body {

  .book-summary{
    ul.summary{
      // background-color: #1e1f23;
      color:#fff;
      li.nav-header {
        background-color: #266891;

        a.custom-link{
            padding:5px;
            img {
              width: 80px;
              padding: 5px;
            }
            float: left;
        }
        height:50px;
        a.login{
          float: right;
          color:#fff;
          text-decoration: none;
          text-transform: uppercase;
          img {
            width:30px;
            filter: brightness(0) invert(1);
            padding: 3px;
          }
        }
        margin-bottom: 5px;
      }
      // li {
      //   a {
      //       color:#fff !important;
      //       text-decoration: none;
      //   }
      // }
    }
  }

}
