body {

  .book-summary{
    ul.summary{
      li {

        a.custom-link{
            padding:5px;
            padding-bottom: 0px;
            img {
              width: 45px;
              padding: 5px;
              float:left;
            }
            span {
              padding-left: 5px;
              padding-top: 13px;
            }
        }
      }
    }
  }

}
