.wy-nav-side {
    background-color: #435062
}

.wy-side-nav-search{
    background-color: #0255ca;
}

.wy-menu-vertical p.caption {
    color : #fff;
}

.wy-menu-vertical a:hover {
    background-color: #0c9;
    color : #fff;
}

.wy-side-nav-search input[type=text] {
    border-radius: 0px;
    padding: 6px 12px;
    border-color: #0c9;
}

.wy-table-responsive table td {
   white-space: pre;
}   

.rst-content .note {
     background-color: #f5f5f5;
}

.rst-content .note .admonition-title{
    background-color: #0c9;
}